# server
PORT=8000
GIN_MODE=debug

# Database
DB_PATH=expense.db

# JWT
JWT_SERCRET=
JWT_EXPIRY_hours=72

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback

# Setelah login sukses, backend akan redirect ke frontend dengan token di query string
FRONTEND_URL=http://localhost:3000/auth/callback